.View{
    table{
        border-collapse:collapse;
        border:1px solid #231f20;
        th{
            border:1px solid #231f20;
            padding: 10px;
        }
        td{
            border:1px solid #231f20;
            padding: 15px;
        }
        }
        
        
}