.App {
  
  .app-header{
    display: flex;
    justify-content: center;
    h2{
      margin-left: 20px;
    }
  }
  main{
    display: flex;
    justify-content: center;
  }
  .app-footer{
    display: flex;
    justify-content: center;
    padding: 25px;
    position: relative;
    bottom: 0;
  }
}




